.card3 {
    display: block;
    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    /* padding: 32px 24px;
    margin: 12px; */
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.card3:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -11px;
    left: -11px;
    background: #000000;
    height: 24px;
    width: 24px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.card3:hover:before {
    transform: scale(21);
}

.card3:hover {
    transition: all 0.3s ease-out;
    color: #ffffff;
}